server:
  port: 8081

spring:
  redis:
    cluster:
      nodes: 127.0.0.1:6379, 127.0.0.1:6380, 127.0.0.1:6381
    timeout:
    url:
  application:
    name: tuling-admin
  datasource:
    druid:
      web-stat-filter:
        exclusions: "*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*" #不统计这些请求数据
      stat-view-servlet: #访问监控网页的登录用户名和密码
        login-username: druid
        login-password: druid
      validation-query: SELECT 1
  redisSingle:
    host: 127.0.0.1
    port: 6379
    lettuce:
      pool:
        max-active: 8 # 连接池最大连接数（使用负值表示没有限制）
        max-wait: -1 # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-idle: 8 # 连接池中的最大空闲连接
        min-idle: 0 # 连接池中的最小空闲连接
      timeout: 3000ms # 连接超时时间（毫秒）
#    dynamic:
#      primary: promotion
  #        # 未匹配到数据源时，true抛异常，false使用默认数据源
#      strict: false
#      datasource:
#        user:
#          url: jdbc:mysql://127.0.0.1:3306/tl_mall_user?characterEncoding=utf-8&useSSL=false
#          driver-class-name: com.mysql.cj.jdbc.Driver
#          username: root
#          password: lyd0821666
#        goods:
#          url: jdbc:mysql://127.0.0.1:3306/tl_mall_goods?characterEncoding=utf-8&useSSL=false
#          driver-class-name: com.mysql.cj.jdbc.Driver
#          username: root
#          password: lyd0821666
#        promotion:
#          url: jdbc:mysql://127.0.0.1:3306/tl_mall_promotion?characterEncoding=utf-8&useSSL=false
#          username: root
#          password: lyd0821666
#        normal:
#          url: jdbc:mysql://127.0.0.1:3306/tl_mall_normal?characterEncoding=utf-8&useSSL=false
#          driver-class-name: com.mysql.cj.jdbc.Driver
#          username: root
#          password: lyd0821666
#        order:
#          url: jdbc:mysql://127.0.0.1:3306/tl_mall_order?characterEncoding=utf-8&useSSL=false
#          driver-class-name: com.mysql.cj.jdbc.Driver
#          username: root
#          password: lyd0821666
#    url: jdbc:mysql://192.168.65.71:3306/tl_mall_user?characterEncoding=utf-8&useSSL=false
#    username: tlmall
#    password: tlmall123
  main:
    allow-bean-definition-overriding: true
  cache:
    redis:
      cache-null-values:
#    allow-circular-references: true:
redis:
  database: user
  key:
    admin: 'ums:admin'
    resourceList: 'ums:resourceList'
  expire:
    common: 86400 # 24小时
mybatis-plus:
  mapper-locations:
    - classpath:dao/*.xml
#  configuration:
#    cache-enabled: false
jwt:
  tokenHeader: Authorization #JWT存储的请求头
  secret: mall-admin-secret #JWT加解密使用的密钥
  expiration: 604800 #JWT的超期限时间(60*60*24)
  tokenHead: Bearer  #JWT负载中拿到开头
secure:
  ignored:
    urls: #安全路径白名单
      - /swagger-ui.html
      - /swagger-resources/**
      - /swagger/**
      - /**/v2/api-docs
      - /**/*.js
      - /**/*.css
      - /**/*.png
      - /**/*.ico
      - /webjars/springfox-swagger-ui/**
      - /actuator/**
      - /druid/**
      - /admin/login
      - /admin/register
      - /upload/product/**
aliyun:
  oss:
    endpoint: oss-cn-hangzhou.aliyuncs.com # oss对外服务的访问域名
    accessKeyId: LTAI5tBFpUX16ckDEiZTSBbp # 访问身份验证中用到用户标识
    accessKeySecret: ooSwLk0wq1zf83lFHdHGh4N8G9Pa94 #用户用于加密签名字符串和oss用来验证签名字符串的密钥
    bucketName: lyd-store # oss的存储空间
    callback:  http://localhost:8081/aliyun/oss/callback # 文件上传成功后的回调地址
    policy:
      expire: 300 # 签名有效期(S)
    maxSize: 10 # 上传文件大小(M)
    #callback:  # 文件上传成功后的回调地址
    dir:
      prefix: lyd-Mus/images/ # 上传文件夹路径前缀

upload:
  product:
    images: D:/temp/product/images
